<h1>Party</h1>
<% if @party.errors.any?  %>
    <h1><%= pluralize(@party.errors.count, "error")%></h1>

    <ul>
        <% @party.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<div class="form">
    <%= render partial: 'form' %>
</div>
