<h1>Party name: <%= @party.name %></h1>
<h3>Category: <%= link_to @category.name, category_path(@category) %></h3>
<h3>Supplies for our party:</h>
<ol>
    <% @party.supplies.each do |supply| %>
        <li><%= link_to supply.name, supply_path(supply) %></li>
    <% end %>
</ol>

<%= link_to "All parties", parties_path %>