<h3>Show page for our supply: </h3>

<h3><%= @supply.name %></h3>

<h3>Parties with <%= @supply.name %></h3>
<ul>
    <% @parties.each do |party| %>
       <li> <%= party.name %></li>
    <% end %>
</ul>