<!DOCTYPE html>
<html>
  <head>
    <title>Codechallengeone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
  <%= link_to 'All Parties', parties_path%>
    <%= yield %>
  </body>
</html>
